@import "tailwindcss";


@layer base{
  :root{
    --color-background:250 250 250;
    --color-foreground:17 24 39;
    --color-primary:37 99 235;
    --color-secondary:236 72 153;
  }
}
.dark{
  --color-background:31 41 55;
  --color-foreground:243 244 246;
  --color-primary:147 197 253;
  --color-secondary:244 114 182;
}

body{
  @apply bg-[hsl(var(--bg-background))]
  text-[hsl(var(text-secondary))]
}